[submodule "mmpose"]
	path = mmpose
	url = https://github.com/becklabs/mmpose.git
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/open-mmlab/mmcv.git
[submodule "MotionBERT"]
	path = MotionBERT
	url = https://github.com/Walter0807/MotionBERT.git
