[submodule "openpose"]
	path = openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose
[submodule "mmpose"]
	path = mmpose
	url = https://github.com/open-mmlab/mmpose.git
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/open-mmlab/mmcv.git
